*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img {
  width: 830px;
  background: #fff;
  margin-top: 10%;
}

button {
  top: 0%;
  padding: 20px 50px;
  position: absolute;
}

